<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "/views/public/css.html"?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/views/static/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form action="" class="col-xs-offset-1 col-xs-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" name='tc_name' class="form-control" placeholder="用户名">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" name='tc_pass' class="form-control" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
    <?php include "/views/public/js.html"?>
    <script>
        $(function () {
            //获取登录框（用户名，密码）的内容，注册登录提交事件，向后台提交数据，后台接收数据后验证是否正确，跳转到主页面
            //直接给表单注册提交事件
            $("form").submit(function () {
                //判断如果用户名和密码为空，则提示用户输入用户名和密码
                if($('input[name=tc_name]').val().trim() == ""){
                    alert("请输入用户名")
                    return false
                }
                if($('input[name=tc_pass]').val().trim() == ""){
                    alert("请输入密码")
                    return false
                }
                //表单序列化获取表单数据（input必须要有name属性）
                var data = $(this).serialize()
                //发送ajax请求
                $.ajax({
                    url:'/api/login',
                    type:'post',
                    data:data,
                    success:function (data) {
                        console.log(data);
                        //确认登录成功后跳转到首页,同时将后台返回来的用户名和头像保存在cookie中，后续在主页的侧边栏位置使用
                        if(data.code == 200){
                            console.log(data.result);
                            //将返回的数据转成json字符串形式存储在cookie中
                            $.cookie('userinfo',JSON.stringify(data.result),{path:'/',expires:365})
                            location.href = '/'
                        }
                    }
                })
                return false
            })
        })

    </script>
</body>
</html>